
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@900&family=Lato:wght@400;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fira Sans', sans-serif;
    font-family: 'Lato', sans-serif;
}
body{
    background: linear-gradient(45deg, #050022,rgb(202, 0, 220));
    overflow-x: hidden;
}

.body-bg{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    min-width: 1000px;
}

.calculator{
    border: 1px solid #717377;
    padding: 20px;
    border-radius: 16px;
    background-color: rgb(36, 36, 36);
    box-shadow: 0px 3px 15px rgba(113, 115, 119, 0.5) ;
    max-width: 1000px;
}

input{
    width: 320px;
    border: 1px solid #717377;
    padding: 24px;
    margin: 10px;
    border-radius: 20px;
    background-color:rgb(26, 26, 26);
    box-shadow: 0px 3px 15px rgba(84, 84, 84, 0.1);
    font-size: 40px;
    text-align: right;
    cursor: pointer;
    color: #ffffff;
}

input::placeholder{
    color: #ffffff;
}

button{
    border: none;
    width: 60px;
    height: 60px;
    margin: 10px;
    border-radius: 100%;
    background-color: rgb(29, 29, 29);
    color: #ffffff;
    box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1);
    cursor: pointer;
}

button:hover{
    background-color:  #ffffffab;
    color: #000000;
}

.equalbt{
    background-color: green;
    font-size: 1.5rem;
}
.operator{
    font-size: 1.5rem;
}
.acbtn{
    background-color: #f9cb00; 
}
.delbtn{
    background-color: #fb4a14;
}
.operator{
    color: #6dee0a;
}
button{
    font-size: 1.1rem;
}
.memory{
    padding-left: 220px;
    padding-right: 220px;
    background-color: #6dee0a;
    display: flex;
    flex-direction: column;
}
.memo1{
   min-height: 80px;
    width: 130px;
   background: #000;
}
.memo2{
    height: 50px;
    width: 130px;
background: red;
}